.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  border: 3px solid #152423;
  background-color: #5c625de3;
  min-height: 250px;
  padding: 1em;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 200px;
  align-self: center;
}

.fighter-preview___name {
  align-self: center;
  font-size: 1.6em;
  margin: 0.5em 0;
  color: #f01c1c;
  text-shadow: #152423 1px 1px 1px;
}

.fighter-preview___info-container {
  width: 100%;
}

.fighter-preview___info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 5px;
  color: aliceblue;
  align-self: flex-start;
  text-shadow: #152423 1px 1px 1px;
  line-height: 1.3;
}

.bold {
  font-weight: bold;
}
