.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
  padding: 1rem;
  border-bottom: 3px solid rgb(18, 32, 48);
  font-weight: 700;
  font-size: 22px;
  color: rgb(18, 32, 48);
  background-color: rgb(109, 162, 223);
}

.modal-body {
  padding: 1rem;
  background-color: rgb(158, 195, 236);
  display: flex;
  flex-direction: column;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.play-again___container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body .fighter-preview___img {
  align-self: center;
}

.play-again___question {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.2em;
}

.play-again___answers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.play-again___answer-btn {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 1.1em;
  background-color: rgb(255, 255, 255);
  color: rgb(18, 32, 48);
}
ы
.play-again___answer-btn:hover {
  background-color: rgb(221, 221, 221);
}
